* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    text-align: start;

}

/* SIDE BAR */

.sidebar {
    display: grid;
    background-color: rgb(12, 171, 224);
    grid-row: 1 / 4;
    gap: 40px;
    color: white;
    padding: 5%;
  }

.sidebar div {
}

.topbar {
    background-color: red;
    display: grid;
    grid-column: 2 / 4;
}

/* PART WITH USERNAME AND BUTTONS */

.header {
    background-color: yellow;
    display: grid; 
    grid-column: 2 / 4;  
    grid-template-columns: 2fr 0.75fr;
}

.buttons {
    align-self: center;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
}

/* TEXT PART */

.text-container {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    grid-template-columns: 3.75fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    background-color: #d6dade;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.announcements {
    background-color: pink;
    grid-column: 2 / 3;
    margin: 5%;
}

.trending {
    background-color:#FFF8DC;
    grid-column: 2 / 3;
    margin: 5%;
}