* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 5fr;
    text-align: start;

}

/* SIDE BAR */

.sidebar {
    display: grid;
    background-color: rgb(12, 171, 224);
    grid-row: 1 / 4;
    gap: 40px;
    color: white;
    padding: 5%;
  }

.sidebar div {
}

/* TOP BAR */

.topbar {
    display: flex;
    grid-column: 2 / 4;
}

.topbar p {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1; 
    padding-right: 50px;
}

.topbar input {
    background-color: lightgrey;
    width: 60%;
    border-radius: 30px;
    margin: 2% 0;
}

.search-icon {
    width: 1.2em;
    height: 1.2em;
    display: block;
    margin: auto 1em auto 3em;
}

.profile-img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: block;
    margin: auto 2px auto 20em;
}
/* USERNAME AND BUTTONS */

.header {
    background-color: yellow;
    display: grid; 
    grid-column: 2 / 4;  
    grid-template-columns: 2fr 0.75fr;
}

.admin-info {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 50px;
    flex-direction: column;
}

.bigger-profile-img {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

button {
    background-color: lightblue;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    /* background-image: url('');  */
}

/* TEXT PART */

.text-container {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    grid-template-columns: 3.75fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    background-color: #d6dade;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0px 40px 20px;
}

.announcements {
    background-color: pink;
    grid-column: 2 / 3;
    margin: 20px;
}

.trending {
    background-color:#FFF8DC;
    grid-column: 2 / 3;
    margin: 20px 20px 40px 20px;
}